$primary-color: #8473ab;
$primary-light-color: #c5bdd8;
$secondary-color: #16667b;
$secondary-light-color: #5ac5e1;
$success: #237804;
$success-light: #d9f7be;
$error: #f5222d;

$breakpoint-mobile: '640px';
$breakpoint-tablet: '1023px';
$breakpoint-laptop: '1200px';
